In [ ]:
# Python has two primitive loop commands

# 1. while loop
# 2. for loop

In [ ]:
fruits=["apple","banana","cherry","grapes","mango"]
for fruit in fruits:
 print(fruit)

apple
banana
cherry
grapes
mango

In [ ]:
# Using range() loop
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range (1,50):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [ ]:
for i in range(1,50):
  if i%2!=0:
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [ ]:
for letter in "python":
  print(letter)

p
y
t
h
o
n

In [ ]:
# While Loop

In [ ]:
# Basic while loop
count=0
while count < 5:
  print(count)
  count+=1

0
1
2
3
4

In [ ]:
i=1
while (i<=5):
 print(i)
 i=i+1

1
2
3
4
5

In [ ]:
count=5
while count < 10:
  print(count)
  count+=1

5
6
7
8
9

In [ ]:
# Using while to taking keep input
user_input = ''
while user_input !="exit":
  user_input = input('enter a command (type "exit" to quit):')
  print(f"you entered: {user_input}")

enter a command (type "exit" to quit):quit
you entered: quit
enter a command (type "exit" to quit):exit
you entered: exit

In [ ]:
# for even num
i=0
while i <=10:
  print(i)
  i=i+2

0
2
4
6
8
10

In [ ]:
# for odd num
i=1
while i <=10:
  print(i)
  i=i+2

1
3
5
7
9

In [ ]:
# for sum of 1 to 10 natural num
x=1
y=0
while  x <=10:
  y=x+y
  print(y)
  x=x+1

1
3
6
10
15
21
28
36
45
55

In [ ]:
# Sum of a list
num=[1,3,6,5]
sum=0
for i in num:
  sum+=i
  print(sum)

1
4
10
15

In [ ]:
#  for squre of 10 natural num
x=1
while x <=10:
  print(x*x)
  x+=1

1
4
9
16
25
36
49
64
81
100

In [ ]:
# for qube of 10 natural number
x=1
while x <=10:
  print(x*x*x)
  x+=1

1
8
27
64
125
216
343
512
729
1000

In [ ]:
# Break statement we can stop the loop even if the while condition is
i=1
while i < 10:
  print(i)
  if i == 4:
    break
  i+=1

1
2
3
4

In [ ]:
# contiue  statement  we can stop the current item
i=0
while i < 10:
  i += 1
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
i=0
while i < 10:
   i += 1
   if i == 5:
      continue
   elif i == 8:
      continue
   print(i)

1
2
3
4
6
7
9
10

In [ ]:
# For loop

In [ ]:
l1=["a","b","c","d"]
for x in l1:
  print(x)

a
b
c
d

In [ ]:
for x in "AAFT":
 print(x)

A
A
F
T

In [ ]:
# break statement
l1=["A","B","C","D"]
for x in l1:
  print(x)
  if x == "B":
    break

A
B

In [ ]:
# exit the loop when x is "B" , but this time the break comes before the print
l1=["A","B","C","D"]
for x in l1:
  if x == "B":
    break
  print(x)

A

In [ ]:
# continue statement
l1=["A","B","C","D"]
for x in l1:
  if x == "B":
    continue
  print(x)

A
C
D

In [ ]:
# Range() function
for x in range(1,10):
  print(x)

1
2
3
4
5
6
7
8
9

In [ ]:
for x in range(2,6):
  print(x)

2
3
4
5

In [ ]:
for x in range (2,30,3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
# For revers
i=10
while i > 0:
  print(i)
  i=i-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
i=100
while i > 0:
  print(i)
  i=i-15

100
85
70
55
40
25
10

In [ ]:
n=int(input("enter a number:"))
fact=1
for i in range (1,n+1):
  fact = fact*i
print("the factorial is :")
print(fact)

enter a number:5
the factorial is :
120

In [ ]:
# 1. Write a program to find the sum of the first natural numbers (1,2,3,4,5)
x=[1,2,3,4,5]
y=sum(x)
print(y)

15

In [ ]:
# 2. count even and odd numbers in a list
numbers=[1,2,3,23,21,25,65,22,58,66,52,53,37,78,98]
even_count=0
odd_count=0

for num in numbers:
   if num % 2 == 0:
       even_count+=1
   else:
       odd_count+=1

print("even numbers:",even_count)

print("odd numbers:",odd_count)

even numbers: 7
odd numbers: 8

In [ ]:
# 3. Print numbers in revers order(10 to 1 using a for loop)
for i in range(10):
  print(10-i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# WAP to check whether a given number is prime or not?
num=int(input("enter a number:"))

if num == 0 or num==1:
  print(num, "is not a prime number")
elif num > 1:
  # check for factors
  for i in range (2,num):
      if (num % i)==0:
          print(num ,"is not a prime number")
          break
  else:
    print(num,"is a prime number")

# if input is less than or equal to 1,it is not prime
else:
  print(num,"is not a prime number")

enter a number:23
23 is a prime number

In [ ]:
# WAP to find revers of a number
num=int(input("enter any number"))
rev=0
while(num>0):
  rev=(rev*10)+num%10
  num=num//10
print("revers of a given number is:",rev)

enter any number25664
revers of a given number is: 46652

In [ ]:
# WAP to check whether given number is armstrong or not
n=int(input("enter number:"))
x=n
sum=0
while(n>0):
  sum=sum+(n%10)*(n%10)*(n%10)
  n=n//10
if x==sum:
  print("number is armstrong")
else:
  print("number is not armstrong")

enter number:153
number is armstrong

In [ ]:
# WAP to print fibonacci series upto given limit
n=int(input("enter the limit number:"))
x=0
y=1
z=0
while(z<=n):
  print(z)
  x=y
  y=z
  z=x+y

enter the limit number:10
0
1
1
2
3
5
8

In [ ]:
# WAP to print pattern:
# *
# **
# ***
# ****
# *****

In [ ]:
num=int(input("enter number of rows:"))
for i in range (1,num+1):
  for j in range(1,i+1):
    print("*",end="")
  print()

enter number of rows:10
*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
# 2. count even and odd numbers in a list
numbers=[1,2,3,23,21,25,65,22,58,66,43,52,53,37,78,98]
even_count=0
odd_count=0

for num in numbers:
        if num%2==0:
          even_count+=1
        else:
          odd_count+=1

print("even numbers",even_count)
print("odd numbers",odd_count)

even numbers 7
odd numbers 9