•	Python | Sort Python Dictionaries by Key or Value

In [ ]:
my_dict = {'banana': 3, 'apple': 1, 'orange': 2}
g = list(my_dict.keys())
g.sort()
print(g)

['apple', 'banana', 'orange']

In [ ]:
my_dict = {'banana': 3, 'apple': 1, 'orange': 2}
g = list(my_dict.values())
g.sort()
print(g)

[1, 2, 3]

In [ ]:
d = {2: 56, 1: 2, 5: 12, 4: 24}

print("Dictionary", d)

# Sorting and printing dictionary keys
for i in sorted(d.keys()):
    print(i, end=" ")

Dictionary {2: 56, 1: 2, 5: 12, 4: 24}
1 2 4 5

•	Handling missing keys in Python dictionaries

In [ ]:
dict = {'a': 56, 'b': 2, 'c': 12, 'd': 24}

check = input('cehck value in dictonary or not : ')

if check in dict:
    print(check)
else:
    print('value not found')

a

In [ ]:
dict = {'a': 56, 'b': 2, 'c': 12, 'd': 24}

check = input('cehck value in dictonary or not : ')

print(dict.get(check , 'not found'))

56


•	Python dictionary with keys having multiple inputs

In [ ]:
clas = {
    "child1": {      "name" : "suneet",      "year" : 2004 , "course": "datascience "  },
    "child2": {      "name" : "sahil",       "year" : 2005 , "course": "datascience "  },
    "child3": {      "name" : "nitin",       "year" : 2001 , "course": "datascience "  },
    "child4": {      "name" : "mayank",      "year" : 2000 , "course": "datascience "}

}

print(clas)

{'child1': {'name': 'suneet', 'year': 2004, 'course': 'datascience '}, 'child2': {'name': 'sahil', 'year': 2005, 'course': 'datascience '}, 'child3': {'name': 'nitin', 'year': 2001, 'course': 'datascience '}, 'child4': {'name': 'mayank', 'year': 2000, 'course': 'datascience '}}


•	Python program to find the sum of all items in a dictionary

In [ ]:
clas = {
    "child1": {      "name" : "suneet",      "hindi" : 42 , "english": 52  },
    "child2": {      "name" : "sahil",       "hindi" : 25 , "english": 56  },
    "child3": {      "name" : "nitin",       "hindi" : 21 , "english": 45  },
    "child4": {      "name" : "mayank",      "hindi" : 20 , "english": 58  }

}


•	Python program to find the size of a Dictionary

In [ ]:
clas = {
    "child1": {      "name" : "suneet",      "hindi" : 42 , "english": 52  },
    "child2": {      "name" : "sahil",       "hindi" : 25 , "english": 56  },
    "child3": {      "name" : "nitin",       "hindi" : 21 , "english": 45  },
    "child4": {      "name" : "mayank",      "hindi" : 20 , "english": 58  }

}

print(len(clas))

4


•	Ways to sort list of dictionaries by values in Python – Using itemg etter

•	Ways to sort list of dictionaries by values in Python – Using lambda function

•	Python | Merging two Dictionaries

•	Program to create grade calculator in Python

In [ ]:
def calculate_grade(score):
    # Define the grading scale
    grading_scale = {
        'A': (90, 100),
        'B': (80, 89),
        'C': (70, 79),
        'D': (60, 69),
        'F': (0, 59)
    }

    # Determine the grade based on the score
    for grade, (lower, upper) in grading_scale.items():
        if lower <= score <= upper:
            return grade
    return 'Invalid'  # If the score is outside the defined scale

# Example usage
try:
    # Get the student's score as input
    input_score = float(input("Enter the student's score: "))

    # Check if the input score is valid (between 0 and 100)
    if 0 <= input_score <= 100:
        # Calculate and display the grade
        result_grade = calculate_grade(input_score)
        print(f"The student's grade is: {result_grade}")
    else:
        print("Invalid input! Please enter a score between 0 and 100.")
except ValueError:
    print("Invalid input! Please enter a numeric score.")

•	Python – Insertion at the beginning in OrderedDict

•	Python | Check order of character in string using OrderedDict( )

•	Python | Find common elements in three sorted arrays by dictionary intersection

•	Dictionary and counter in Python to find winner of election

•	Python – Key with maximum unique values

In [ ]:
dict = {'a': 56, 'b': 2, 'c': 12, 'd': 24}

value = list(dict.values())

print(max(value))

56

•	Find all duplicate characters in string

•	Python – Group Similar items to Dictionary Values List

•	K’th Non-repeating Character in Python using List Comprehension and OrderedDict

•	Python – Replace String by Kth Dictionary value

In [ ]:
dict = {'a': 56, 'b': 2, 'c': 12, 'd': 24}

print(dict)
str('')
while  str != exit:
    str = input("Enter a word or exit: ")

{'a': 56, 'b': 2, 'c': 12, 'd': 24}

TypeError: 'str' object is not callable

•	Python | Ways to remove a key from dictionary

•	Python – Replace words from Dictionary

In [ ]:
dit = {'banana': 3, 'apple': 1, 'orange': 2}

key = input(' replace word ')

value = input('replace value ')

dit.update({key : value})

print(dit)

{'banana': '5', 'apple': 1, 'orange': 2}

•	Python – Remove Dictionary Key Words

In [ ]:
dit = {'banana': 3, 'apple': 1, 'orange': 2}

key = input(' replace word ')

del dit[key ]

print(dit)

{'banana': 3, 'orange': 2}

•	Python | Remove all duplicates words from a given sentence

•	Python – Remove duplicate values across Dictionary Values

In [ ]:
dit = {'banana': 3, 'apple': 1, 'orange': 2 , 'apple':1}

dict_duplicate = {}

for key , value in dit.items():
    if value not in dict_duplicate.values():
        dict_duplicate[key]=value



print(dict_duplicate)

{'banana': 3, 'apple': 1, 'orange': 2}

•	Python Dictionary to find mirror characters in a string

•	Counting the frequencies in a list using dictionary in Python

•	Python – Dictionary Values Mean

•	Python counter and dictionary intersection example (Make a string using deletion and rearrangement)

•	Python dictionary, set and counter to check if frequencies can become same

•	Scraping And Finding Ordered Words In A Dictionary using Python

•	Possible Words using given characters in Python

•	Python – Maximum record value key in dictionary

•	Python – Extract values of Particular Key in Nested Values