In [ ]:
# a function is defined using the def keyword
def my_function():
  print("hello from a function")

In [ ]:
# calling function
my_function()

hello from a function

In [ ]:
def my_function(fname):
 print(fname+" Trump")
my_function("Donald")

Donald Trump

In [ ]:
my_function("Melliania")

Melliania Trump

In [ ]:
def even_odd(num):
  if num%2==0:
   print("the number is even")
  else:
   print("the number is odd")

In [ ]:
# call this function
even_odd(23)

the number is odd

In [ ]:
# functions with multiple parameters
def add(a,b):
    return a+b

add(1,2)

3

In [ ]:
add(3435,53436)

56871

In [ ]:
# function can eturn multiple vlue
def add(a,b):
  return a+b,a

add(4,5)

(9, 4)

In [ ]:
# write a function to swap two numbers without using thhird variable
def swap(a,b):
  a,b=b,a
  print(a)
  print(b)

In [ ]:
swap(3,4)

4
3

In [ ]:
def swap(a,b,c):
  a,b,c=b,c,a
  print(a)
  print(b)
  print(c)
swap(1,2,3)

2
3
1