1.	Write a Program to interchange first and last elements in a list

In [ ]:
l = [ 1, 2, 3, 4, 5, 6 ]

n = l[0]

k = l[len(l) -1]

l[0]= k
l[len(l) -1] = n
print(l)

[6, 2, 3, 4, 5, 1]

2.	Program to swap two elements in a list

3.	Swap elements in String list

In [ ]:
str_list  = [ 'suneet', 'paul', 'sahil', 'mayank']

n = str_list[0]

str_list[0]= str_list[len(str_list) -1]

str_list[len(str_list) -1] = n

print(str_list)

['mayank', 'paul', 'sahil', 'suneet']

4.	Ways to find length of list

In [ ]:
liist = [ 1, 2, 3 ,4 , 5, 6, 7, 8,9]

len(liist)

9

In [ ]:
size = 0
for i in liist:
    size += 1

print(size)

9

5.	Maximum of two numbers in Python

6.	Minimum of two numbers in Python

7.	Ways to check if element exists in list

In [ ]:
list_ =  [ 1,2,3,4,5,6,7,8]

list_.index(2)

1

In [ ]:
a = list_.count(2)
print(a)

1

In [ ]:
if 2 in list_:
    print("2 is in the list")
else:
    print("2 is not in the list")

2 is in the list

8.	Different ways to clear a list in Python

In [ ]:
LIST =  [ 'apple' , 'banana', 'cherry', 'orange' ]

LIST.clear()
print(LIST)

[]

In [ ]:
LIST =  [ 'apple' , 'banana', 'cherry', 'orange' ]

del LIST
print(LIST)

NameError: name 'LIST' is not defined

In [ ]:
LIST =  [ 'apple' , 'banana', 'cherry', 'orange' ]

l = len(LIST)
for i in range(l):
    LIST.pop()

print(LIST)

[]

In [ ]:
LIST =  [ 1,2,3,4,5,6,7,8]

for x in LIST:
    LIST.remove(x)
    print(LIST)

[2, 3, 4, 5, 6, 7, 8]
[2, 4, 5, 6, 7, 8]
[2, 4, 6, 7, 8]
[2, 4, 6, 8]

9.	Reversing a List

In [ ]:
LIST =  [ 'apple' , 'banana', 'cherry', 'orange' ]
LIST.reverse()

print(LIST)

['orange', 'cherry', 'banana', 'apple']

In [ ]:
LIST =  [ 'apple' , 'banana', 'cherry', 'orange' ]
LIST.sort(reverse=True)

print(LIST)

['orange', 'cherry', 'banana', 'apple']

10.	Cloning or Copying a list

In [ ]:
LIST =  [ 'apple' , 'banana', 'cherry', 'orange' ]

list_1 = LIST

print(list_1)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
list_2 = LIST.copy()

print(list_2)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
list_3 = []
for x in LIST:
    list_3.append(x)

print(list_3)

['apple', 'banana', 'cherry', 'orange']

11.	Count occurrences of an element in a list

In [ ]:
list_4 = ['apple', 'banana', 'cherry', 'orange']

list_4.count("apple")

1

In [ ]:
list_4 = [1,2,3,3,4,5,6,7]

list_4.count(3)

2

12.	Program to find sum and average of List in Python

In [ ]:
_list = [1,2,3,4,5,6]

Sum =0

for i in _list:
    Sum += i

print("sum 0f the list" , Sum)

avg = Sum / len(_list)

print("Average of the list " , avg)

sum 0f the list 21
Average of the list  3.5

13.	Sum of number digits in List

In [ ]:
List = [1,2,3,4,5,6]

Sum =0

for i in List:
    Sum += i

print("sum 0f the list" , Sum)

sum 0f the list 21

14.	Multiply all numbers in the list

In [ ]:
List = [1,2,3,4,5,6]

mul =1

for i in List:
    mul *=i

print(mul)

720

15.	Program to find smallest number in a list

In [ ]:
List = [1,2,3,4,5,6 , .5]

List.sort()
print(List[0])

0.5

16.	Program to find largest number in a list

In [ ]:
List = [1,2,3,4,5,6 , .5]

List.sort(reverse= True)
print(List[0])

6

In [ ]:
List = [1,2,3,4,5,6 , .5]

List.sort()

print(List[len(List) -1])

6

17.	Program to find second largest number in a list

In [ ]:
List = [1,2,3,4,5,6 , .5]

List.sort(reverse= True)
print(List[1])

5

In [ ]:
List = [1,2,3,4,5,6 , .5]

List.sort()

print(List[len(List) -2])

5

18.	Program to print even numbers in a list

In [ ]:
List = [ 1,2,3,4,5,6,7,8,9]

for x in List :
    if  x % 2 == 0 :
        print(x)

2
4
6
8

19.	Program to print odd numbers in a List

In [ ]:
List = [ 1,2,3,4,5,6,7,8,9]

for x in List :
    if  x % 2 != 0 :
        print(x)

1
3
5
7
9

20.	Program to print all even numbers in a range

In [ ]:
num = int(input('number'))

for i in range(num):
    if i %2 == 0 :
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44

21.	Program to print all odd numbers in a range

In [ ]:
num = int(input('number'))

for i in range(num):
    if i %2 != 0 :
        print(i)

1
3
5
7

22.	Program to count Even and Odd numbers in a List

In [ ]:
num = int(input('number'))

count = 0

for i in range(num):
    if i %2 == 0 :
        count +=1
print( "even" ,  count )
print( "odd" ,  num-count )

even 23
odd 22

23.	Program to print positive numbers in a list

In [ ]:
List = [ 1,2,3,-1,-8,-5,-46]

for i in List:
    if i >0:
        print(i)

1
2
3

24.	Program to print negative numbers in a list

In [ ]:
List = [ 1,2,3,-1,-8,-5,-46]

for i in List:
    if i <0:
        print(i)

-1
-8
-5
-46

25.	Program to print all positive numbers in a range

In [ ]:
num = int(input('number'))

for i in num:
    if i >0:
        print(i)

TypeError: 'int' object is not iterable

26.	Program to print all negative numbers in a range

In [ ]:
for i in range(-10,10):
    if i <0:
        print(i, end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

27.	Program to count positive and negative numbers in a list

In [ ]:
List = [ 1,2,3,-1,-8,-5,-46]

count = 0

for i in List:
    if i >0:
        count+=1

print('posstive', count)
print('negtive ' , len(List)-count)

posstive 3
negtive  4

28.	Remove multiple elements from a list in Python

In [ ]:
List = [ 1,2,3,-1,-8,-5,-46]

st =( " ")
while st !='exit':
    st =  input(" 'exit' to quit: 1 to continune ")
    if st == 'exit':
        break
    else:
        List.remove(int(st))
        print(List)

[1, 3, -1, -8, -5, -46]
[1, -1, -8, -5, -46]
[-1, -8, -5, -46]
[-8, -5, -46]

29.	Remove empty tuples from a list

In [ ]:
List=[('nitin',2,3,32,232),(), ('khushi',434,324324,23,43),(),('sunny',2334,'nihal'), (),('suneet', 'paul'),(),(343)]
for i in List:
    if (i==()):
      List.remove(i)
print(List)

[('nitin', 2, 3, 32, 232), ('khushi', 434, 324324, 23, 43), ('sunny', 2334, 'nihal'), ('suneet', 'paul'), 343]

30.	Program to print duplicates from a list of integers